.sider {
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    position: sticky;
    inset-inline-start: 0;
    top: 0;
    overflow: auto;
    height: 100vh;
    transition: all 1s cubic-bezier(0.2, 0, 0, 1);

    @media (max-width: 991px) {
        position: fixed;
        inset: 0 auto 0 0;
        z-index: 1000;
        max-width: calc(100vw - 48px) !important;
        height: 100dvh;
        flex-basis: min(272px, calc(100vw - 48px)) !important;
    }

    &__container {
        height: 100%;
        padding-bottom: 24px;
    }

    &__collapse-control {
        margin: 8px 8px 0;
    }

    &__menu {
        width: 100%;
    }

    &__logout-option {
        &:hover {
            background-color: #ef4444; //color-Error
        }
    }

    &__logout-icon {
        path {
            color: #ef4444; //color-Error
        }
    }

    &__title {
        justify-self: flex-start;
    }
}
