.like-button {
    width: fit-content;
    height: fit-content;
    padding-inline: 6px;

    &_liked {
        font-weight: 600;
    }

    &__count {
        line-height: 1;
    }

    &__auth {
        width: min(300px, calc(100vw - 48px));
    }
}
