.todo-title {
    &__textarea {
        min-width: 0;
        max-width: 100%;
        overflow-wrap: anywhere;
        line-height: 1.1 !important;
    }

    @media (max-width: 575px) {
        &__textarea {
            margin-bottom: 18px !important;
            font-size: 42px !important;
        }
    }
}
