DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=replace-with-postgres-password
DB_PORT=5432
DB_HOST=db
BE_PORT=3000
NODE_ENV=production
NGINX_SERVER_NAME=example.ru
CERTBOT_WWW_PATH=./certbot/www
LETSENCRYPT_PATH=/etc/letsencrypt
JWT_SECRET=replace-with-jwt-secret

S3_ENDPOINT=https://s3.cloud.ru
S3_REGION=ru-central-1
S3_BUCKET=replace-with-bucket
S3_TENANT_ID=replace-with-tenant-id
S3_KEY_ID=replace-with-key-id
S3_SECRET_ACCESS_KEY=replace-with-secret-access-key
S3_PUBLIC_DOMAIN=https://s3.example.ru/bucket

YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=

GRACHEVELOPERS_PASSWORD=replace-with-seed-user-password
