DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432
DB_HOST=localhost
BE_PORT=3000
FE_PORT=5173
NODE_ENV=development
JWT_SECRET=replace-with-a-local-development-secret
REFRESH_SECRET=replace-with-a-different-local-development-secret

S3_ENDPOINT=https://s3.cloud.ru
S3_REGION=ru-central-1
S3_BUCKET=gracheveloper
S3_TENANT_ID=4314134134
S3_KEY_ID=222
S3_SECRET_ACCESS_KEY=3333
S3_ID_ACCESS_KEY=8444
S3_PUBLIC_DOMAIN=https://s3.cloud.ru/bucket

YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
FE_PORT=5173

GRACHEVELOPERS_PASSWORD=nrgsdfn5910dskfbsxmfgjhd-agdfg
