# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.DS_Store

/coverage
/.nyc_output

/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.env
.env.dev.local
.env.test.local
.env.production.local
.env.local

.temp
.tmp

pids
*.pid
*.seed
*.pid.lock

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

/be/dist
/be/node_modules
/be/.tmp
/be/.temp
/be/coverage
/be/*.log

/fe/dist
/fe/node_modules
/fe/.tmp
/fe/.temp
/fe/coverage
/fe/*.log
/fe/public/mockServiceWorker.js

nginx.conf
*/nginx.conf
**/nginx.conf
