.layout {
    width: 100vw;
    height: 100vh;
    position: relative;

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__menu {
        display: flex;
        width: fit-content;
        height: 100%;
        align-items: center;
    }

    &__logout-icon {
        position: relative;
        z-index: 100;
        color: red;
        cursor: pointer;
    }
}
