.articles-list {
    width: 100%;
    height: 100%;

    &__empty {
        min-height: 500px;
        justify-content: center;
        flex-direction: column;
        display: flex;
    }

    &__col {
        display: flex;
    }
}
