.comment {
    width: 100%;
    padding: 10px;

    &__title {
        width: 100%;
        gap: 12px;
    }

    &__created-at {
        color: var(--ant-color-text-secondary);
        font-size: 12px;
        white-space: nowrap;
    }

    &__content {
        min-width: 300px;
        width: 100%;
        margin-top: 4px;
        resize: none !important;
        overflow-y: none !important;
    }

    &__actions {
        flex-wrap: wrap;
        gap: 4px;
        width: 100%;
        margin-top: 8px;
    }

    &__divider {
        margin: 10px 0 4px 0;
    }

    &__action {
        height: 28px;
        padding-inline: 8px;
        color: var(--ant-color-text-secondary);
        font-weight: 600;

        &_danger:hover,
        &_danger:focus-visible {
            color: var(--ant-color-error);
        }
    }
}
