.sign-up-page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    &__form {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__step {
        opacity: 0;
        animation: fadeInUp 0.5s ease-in-out 0.3s forwards; //ANIMATION_FADE_OUT_IN_S

        &_exit {
            animation: fadeOutUp 0.5s ease-in-out forwards; //ANIMATION_FADE_OUT_IN_S
        }
    }
}
